.introducao {
    padding-bottom: 80px;
    max-width: 0 auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marcaIntro{
    margin-top: 105px;
}


.imgCarolAbsolute{
    position: absolute;
    left: 200px;
    top: 180px;
}

.imgCarolAbsolute img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
    border: 1px solid #d89838;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.introducao h1 {
    font-family: 'Cutive Mono','Courier New', Courier, monospace;
    color: #272729;
    font-size: 5.5rem;
    font-weight: 200;
    position: relative;
    line-height: 4rem;
}


.introducao p {
    font-family: 'Cutive Mono','Courier New', Courier, monospace;
    font-size: 1.5rem;
    margin-top: 10px;
    color: #272729;
}

.subtitulo-intro{
    display: flex;
    position: relative;
    margin-top: -15px;
}

@media (max-width: 1430px) {
    .imgCarolAbsolute{
        display: none;
    }
}

@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }

    .introducao h1 {
        font-size: 2rem;
    }

    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 540px) {

    .imgCarolAbsolute{
        display: none;
    }

    .introducao {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .marcaIntro{
        margin-top: 35px;
    }

    .introducao .marcaIntro img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 250px;
    }

}